a.under-w {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

a.under-w::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #FFF;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}

a.under-w:hover::after {
    transform: scale(1, 1);
}